{% extends 'base.html.twig' %}

{% block title %}Accueil Projets{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_create_project') }}">Creer un nouveau projet</a>
    </div>
    {% for project in projects %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text"></p>
                <p class="card-text"><a href="{{ path('app_list_ticket', {'projectId': project.id}) }}" class="btn btn-sm btn-outline-info">Voir les tickets du projet</a></p>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>
{% endblock %}