{% extends 'Layout/layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block page_title %}Accueil{% endblock %}

{% block content %}
    {% for trip in trips %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ trip.name }}</h5>
                <p class="card-text">Ce voyage contient {{ trip.steps|length }} étapes</p>
                <p class="card-text"><a href="{{ path('show_trip', {'slug': trip.slug}) }}" class="btn btn-sm btn-outline-info">Voir les détails du voyage</a></p>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(trips) }}
    </div>
{% endblock %}
