{% extends 'Layout/layout.html.twig' %}

{% block title %}Détails du voyage : {{ trip.name }}{% endblock %}
{% block page_title %}Détails du voyage : {{ trip.name }}{% endblock %}

{% block content %}
    <div>
        <h3>Etapes</h3>
        <div class="steps">
            {% for step in tripSteps %}
                <div class="step-trip">
                    {{ include('Layout/step_trip.html.twig', {'step': step, 'index': step.step + 1}) }}
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(tripSteps) }}
        </div>
    </div>
{% endblock %}
